{# templates/adminIndex.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
{% block body %}
    <div class="container card d-flex flex-row justify-content-around align-items-center">
        <div>
            <h2>Admin zone</h2>
            <div class="mb-2">
                <form action="{{ path('adminAction') }}" method="POST">
                    <button value="1" name="action" class="btn btn-primary">Manage users</button>
                    <button value="2" name="action" class="btn btn-primary">Manage stories</button>
                    <button value="3" name="action" class="btn btn-primary">Manage genres</button>
                </form>
            </div>
        </div>
        <div>
            <div>
                Writeaway has {{ numUsers }} users, {{ numStories }} stories, and {{ numComments }} comments
            </div>
        </div>
        
    </div>
{% endblock %}