<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Writeaway{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('css/FormStyles.css') }}">
            <link rel="icon" href="{{ asset('css/CommonStyles.css') }}">
            
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        {# page logo #}
        <link rel="icon" type="image/jpg" href="{{ asset('Images/logo3.png') }}" />

    </head>
    <body>
        {% block body %}
            {% block header %}
                {% include('header.html.twig') %}
            {% endblock %}
        {% endblock %}    
        
        <script src="{{ asset('js/popper.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        
    </body>
</html>
