{# templates/askEmail.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Stories.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ComonStyles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap">
{% endblock %}
{% block body %}
    <div class="container card">
        <h2>Change your password</h2>
        <form action="{{ path('changePassword') }}" method="post">
            <div class="form-group m-1">
                {% if error is not null %}
                    <div style="color: red" id="wrong">{{ error }}</div>
                {% endif %}
                {% if success is not null %}
                    <div style="color: green" id="right">{{ success }}</div>
                {% endif %}
                <label for="password">Enter your new password:</label>
                <input type="password" name="password" id="password" class="form-control">
                <br>
                <label for="password2">Re enter your new password:</label>
                <input type="password" name="password2" id="password2" class="form-control m-2">
                <br>
                <button type="Submit" class="btn btn-primary">Change password</button>
            </div>
        </form>
    </div>
{% endblock %}