{# header.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block header %}
<header>
    <div id='headerleft'>
        <div id='logo'>
            <img class="logo" src="{{ asset('Images/logotipo.png') }}" alt="Logo image">
        </div>
        <div id='homepage'><a href={#"{{ path( 'app_homepage') }}"#}>Home</a></div>
        <div class="dropdown">
            <div class="dropbtn">Genre</div>
            <div class="dropdown-content">
            {% if genres %}
                {% for genre in genres %}
                    <a href="{{ path('show_genre', {'genreID':genre.ID}) }}">{{ genre.name }}</a>
                {% endfor %}
            {% else %}
                no genres found
            {% endif %}
            </div>
        </div>
        <div id="homepage"><a href={#"{{ path('app_writing') }}"#}>Start Writing</a></div>
        <div id='search'>
            <form action="profilesearch.php" method="GET">
                <input type="text" placeholder="Search users..." name="usersearched">
                <button><img src="{{ asset('Images/search.png') }}" alt="Search button" class="icon"></button>
            </form>
        </div>
    </div>    
    <div id='headerright'>
        <div  class='dropdown'>
            {% if userPfp is not null %}
                <img src="{{ userPfp }}" alt="User Picture" class="dropbtn" id="user">
            {% else %}
                <img src="{{ asset('Images/user.png') }}" alt="User Picture" class="dropbtn" id="user">
            {% endif %}
            <div class="dropdown-content2">
                <a href={#"{{ path('app_signup') }}"#}>Profile</a>
                <a href="{{ path('app_logout') }}">Log out</a>
                <a href={#"{{ path('app-login') }}"#}>About us</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}