{# templates/header.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block header %}
<header>
    <div id='headerleft'>
        <div id='logo'>
            <img class="logo" src="{{ asset('Images/logotipo.png') }}" alt="Logo image">
        </div>
        <div id="homepage">
            <form action="{{ path('app_login') }}" method='POST'>
                <button>Home</button>
                <input type='hidden' name='_username' value=""/>
            </form>
        </div>
        <div class="dropdown">
            <div class="dropbtn">Genre</div>
            <div class="dropdown-content">
            {% if genres %}
                {% for genre in genres %}
                    <a href="{{ path('show_genre', {'genreID':genre.genreID}) }}">{{ genre.name }}</a>
                {% endfor %}
            {% else %}
                no genres found
            {% endif %}
            </div>
        </div>
        <div id="write">
            <form action="{{ path('write') }}" method='POST'><button>Start writing</button></form>
        </div>
        <div id='search'>
            <form action="{{ path('search') }}" method="POST">
                <input type="text" placeholder="Search users..." name="usersearched">
                <button><img src="{{ asset('Images/search.png') }}" alt="Search button" class="icon"></button>
            </form>
        </div>
        <div>
            {% if is_granted('ROLE_ADMIN') %}
                <form action="{{ path('adminIndex') }}" method='POST'><button>Admin zone</button></form>
            {% endif %}
        </div>
    </div>    
    <div id='headerright'>
        <div  class='dropdown'>
            {% if userPfp is not null and userPfp is defined %}
                <img src="{{ userPfp }}" alt="User Picture" class="dropbtn" id="user">
            {% else %}
                <img src="{{ asset('Images/user.png') }}" alt="User Picture" class="dropbtn" id="user">
            {% endif %}
            <div class="dropdown-content2">
                <a href="{{ path('ownProfile') }}">Profile</a>
                <a href="{{ path('app_logout') }}">Log out</a>
                <a href="{{ path('about', {'genres': genres, 'userPfp': userPfp}) }}">About us</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}