{# templates/hello.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}
{% block body %}
    {# {% for genre in genres %} #}
    {% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
    <div class="primero">
        <h1 style="align: center">
            {% if user %}
                hello {{ user.username }}!
            {% else %}
                Welcome to Write Away!
            {% endif %}
        </h1>
        {% if error is defined%}
            <div id='error'>{{ error }}</div>
        {% endif %}
        {% if stories is defined%}
            {% if stories|length > 0 %}
                {% for story in stories %}
                    <div id='{{ story.storyID }}' class='container'>
                        <div class='title'><a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a> by <a href="{{ path('otherProfile', {'userId': story.user.userId})}}"> {{ story.user.username }}</a></div>
                        <div class='content'>{{ story.storyText|slice(0, 50)|raw }}...</div>
                        <div class='dateTime'> {{ story.datetime|date('Y-m-d H:i:s') }} </div>
                    </div>
                {% endfor %}
            {% endif %}
    
        {% endif %}
    </div>
{% endblock %}