{# templates/login.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/FormStyles.css') }}">
{% endblock %}
{% extends 'base.html.twig' %}
{% block body %}
<body>
    <div class="rectangle-1">
        <div><h1>Log In</h1></div>
        

        <form action="{{ path('app_login') }}" method="post">
            <table>
                <tr>
                    <td colspan="2">
                        {% if error is defined %}
                            <div style="color: red" id="wrong">{{ error }}</div>
                        {% endif %}
                        {% if last_username is not defined %}
                            {% set last_username = '' %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label for="username" class="label">Username:</label></td>
                    <td><input type="text" class="text-input" id="username" name="_username" value="{{ last_username }}"></td>
                </tr>
                <tr>
                    <td><label for="password" class="label">Password:</label></td>
                    <td><input type="password" class="text-input" id="password" name="_password"></td>
                </tr>
                <tr>

                    <td class="notes" colspan="2"><button class="button" type="submit">login</button><br>
                    <a href="{{ path('forgot_password_mail') }}">I forgot my password</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="rectangle-2">
            <div class="toSignIn">Not with us yet?</div>
            <div>
                <a href="{{ path('app_signup') }}">
                <button class="button">Sign up!!</button></a>
            </div>
    </div>
</body>
{% endblock %}