{# templates/login.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/FormStyles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap">
{% endblock %}
{% extends 'base.html.twig' %}
{% block body %}
<body>
    <div class="container d-flex align-items-center justify-content-around">
    <div class="text-center">
        <h1><img class="logo" src="{{ asset('Images/logo2.png') }}" alt="Logo image"></h1>
        <div class="texto">The best writing platform for your original stories!</div>
    </div>
    <div class="container-fluid m-2">
        <div class="text-center">
            <h2>Log In</h2>
            </div>
        {% if success is defined %}
            <div style="color: green" id="right">{{ success }}</div>
        {% endif %}
        <form action="{{ path('app_login') }}" method="post">
            <!-- Username input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                {% if last_username is defined %}
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
                {% else %}
                    <input type="text" id="username" class="form-control" name="_username"/>
                {% endif %}
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control" name="_password" />
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div>
                <div class="col">
                <!-- Simple link -->
                    <a href="{{ path('app_forgot_password_request') }}">Forgot password?</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                <!-- Checkbox -->                        
                    {% if error is defined %}
                            <div style="color: red" id="wrong">{{ error }}</div>
                    {% endif %}
                    {% if last_username is not defined %}
                        {% set last_username = '' %}
                    {% endif %}

                </div>
            </div>

            <!-- Submit button -->
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" class="button">Log in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not with us yet? <a href="{{ path('app_signup') }}">Sign up!</a>
            </div>
        </form>
    </div>
    </div>
</body>
{% endblock %}