{# templates/otherProfile.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    {% if user is defined and user is not null %}
        {% if user.userId == 161 %}
            User not found
        {% else %}
            <div class="primero">
            <div id='usersite'>
                <div id='pfp'>
                    {% if otherUserPhoto is not null %}
                        <img src="{{ otherUserPhoto }}" alt="User Picture" style='width: 100px; height: auto;' id="user">
                    {% else %}
                        <img src="{{ asset('Images/user.png') }}" alt="User Picture" style='width: 100px; height: auto;' id="user">
                    {% endif %}
                </div>
                <div id='about'>
                    <p id='buser'>About {{ user.username }}:
                    <p class='text'><pre>{{ user.about }}</pre></p>
                </div>
            </div>
            <div>
            <h2>{{ user.username }}'s stories:</h2>
            {% if user.stories is defined and user.stories|length > 0 %}
                {% set storiesNumber = 0 %}
                {% for story in user.stories %}
                    {% if story.public == 1 %}
                        <div id='{{ story.storyID }}' class='container'>
                            <div class='title'>
                                <a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a>
                            </div>
                            <div class='content'>{{ story.storyText|slice(0, 50)|raw }}...</div>
                            <div class='dateTime'> {{ story.datetime|date('Y-m-d H:i:s') }} </div>
                        </div>
                        {% set storiesNumber = storiesNumber + 1 %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set storiesNumber = 0 %}
            {% endif %}
            {% if storiesNumber == 0 %}
                {{ user.username }} has not posted any public stories yet.
            {% endif %}
        {% endif %}
    {% else %}
        User not found
    {% endif %}
    </div>
    <div id="alert"></div>
    </div>
{% endblock %}