{# templates/otherProfile.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    <div class="primero">
        <div id='usersite'>
            <div id='pfp'>
                {% if userPfp is not null %}
                    <img src="{{ userPfp }}" alt="User Picture" style='width: 100px' id="user">
                {% else %}
                    <img src="{{ asset('Images/user.png') }}" alt="User Picture" style='width: 100px' id="user">
                {% endif %}
            </div>
            <div id='about'>
                <p id='buser'>About {{ user.username }}:
                <p class='text'><pre>{{ user.about }}</pre></p>
                
            </div>
        </div>
        <div>
            <h2>{{ user.username }}'s stories:</h2>
            {% if user.stories is defined and user.stories|length > 0 %}
                {% for story in user.stories %}
                    <div id='{{ story.storyID }}' class='container'>
                        <div class='title'>
                            <a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a>
                        </div>
                        <div class='content'>{{ story.storyText|slice(0, 50)|raw }}...</div>
                        <div class='dateTime'> {{ story.datetime|date('Y-m-d H:i:s') }} </div>
                    </div>
                {% endfor %}
            {% else %}
                {{ user.username }} has not posted any stories yet.    
            {% endif %}
            
        </div>
        <div id="alert"></div>
    </div>
{% endblock %}