{# templates/ownProfile.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Stories.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ComonStyles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap">
{% endblock %}
{% block body %}
    {% if error is not null %}
        <div style="color: red">{{ error }}</div>
    {% endif %}
    {% if success is not null %}
        <div style="color: green">{{ success }}</div>
    {% endif %}
    
<div class="card">
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-about-list" data-toggle="list" href="#list-about" role="tab" aria-controls="about">About you</a>
                <a class="list-group-item list-group-item-action" id="list-stories-list" data-toggle="list" href="#list-stories" role="tab" aria-controls="stories">Your stories</a>
                <a class="list-group-item list-group-item-action" id="list-comments-list" data-toggle="list" href="#list-comments" role="tab" aria-controls="comments">Your comments</a>
                <a class="list-group-item list-group-item-action" id="list-liked-list" data-toggle="list" href="#list-liked" role="tab" aria-controls="liked">Stories you liked</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <!-- about you -->
                <div class="tab-pane fade show active" id="list-about" role="tabpanel" aria-labelledby="list-about-list">
                    <div id='usersite'>
                        <h2>Your profile</h2>
                        <div id='pfp'>
                            <div class="username">
                                <a href="{{ path('editUsername') }}"><img src="{{ asset('Images/edit.png') }}" alt="edit button" class="editButton"></a>
                                <span class="bold">Username:</span> {{ user.username }}
                            </div>
                            <a href="{{ path('changePhoto') }}"><img src="{{ asset('Images/edit.png') }}" alt="edit button" class="editButton"></a> <span class="bold">Profile photo:</span>
                            {% if userPfp is not null %}
                                <img src="{{ userPfp }}" alt="User Picture" id="userPfp">
                            {% else %}
                                <img src="{{ asset('Images/user.png') }}" alt="User Picture" id="userPfp">
                            {% endif %}
                        </div>
                        <div id='about'>
                            <p id='buser'>
                            <a href="{{ path('editAbout') }}"><img src="{{ asset('Images/edit.png') }}" alt="edit button" class="editButton"></a>
                            <span class="bold">About you:</span>
                            <p class='text'><pre>{{ user.about }}</pre></p>
                        </div>
                        <div class="buttons d-flex justify-content-around align-items-end">
                            <div>
                                <a href="{{ path('changePassword') }}" class="btn btn-primary btn-profile">Change password</a>
                            </div>
                            
                            <form action="{{ path('deleteAccount')}}" method="POST" class="d-flex flex-column">
                                <div>
                                    <input type="checkbox" id="storiesToo" name="storiesToo" value="1"/>
                                    <label for="storiesToo" data-bs-toggle="tooltip" data-bs-placement="top" title="If you do not click this box, your stories will stay in Writeaway without your username">Delete all your stories too</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="commentsToo" name="commentsToo" value="1"/>
                                    <label for="commmentsToo" data-bs-toggle="tooltip" data-bs-placement="top" title="If you do not click this box, your comments will stay in Writeaway without your username">Delete all your comments too</label>
                                </div>
                                <button type="submit" class="btn btn-danger btn-profile" onclick="return confirm('Are you sure you want to delete your Writeaway account? This action cannot be undone')">Delete account</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- your stories -->
                <div class="tab-pane fade" id="list-stories" role="tabpanel" aria-labelledby="list-stories-list">
                    <div>
                        <h2>Your stories</h2>
                        {% if user.stories is defined and user.stories|length > 0 %}
                            {% for story in user.stories %}
                                <div id='{{ story.storyID }}' class='container'>
                                    <div class='title'>
                                        <a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a>
                                    </div>
                                    <div class='content'>{{ story.storyText|slice(0, 50)|raw }}...</div>
                                    <div class='dateTime'>{{ story.datetime|date('d-M-Y H:i:s') }}</div>
                                    <div style="display: flex;">
                                        <a href="{{ path('editStory', {'id': story.storyID}) }}" class="btn btn-secondary  btn-profile">Edit</a>
                                        <form action="{{ path('ownProfile', {'deleteid': story.storyID}) }}" method="POST">
                                            <input type="hidden" name="deleteid" value="{{ story.storyID }}"/>
                                            <button class="btn btn-danger btn-profile" type="submit" onclick="return confirm('Are you sure you want to delete this story? This action will delete all the comments related to the story')">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% elseif user.stories|length == 0 and user.collabStories|length == 0%}
                            You have not posted any stories yet.
                        {% endif %}
                        {% if user.collabStories|length > 0 %}
                            {% for story in user.collabStories %}
                                <div id='{{ story.storyID }}' class='container'>
                                    <div class='title'>
                                        <a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a>
                                    </div>
                                    <div class='content'>{{ story.storyText|slice(0, 50)|raw }}...</div>
                                    <div class='dateTime'>{{ story.datetime|date('d-M-Y H:i:s') }}</div>
                                    <div style="display: flex;">
                                        <a href="{{ path('editStory', {'id': story.storyID}) }}" class="btn btn-secondary btn-profile">Edit</a>
                                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="You cannot delete stories where you are a collaborator"><button class="btn btn-danger btn-profile" disabled>Delete</button></div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <!-- your comments -->
                <div class="tab-pane fade" id="list-comments" role="tabpanel" aria-labelledby="list-comments-list">
                    <div>
                        <h2>Your comments</h2>
                        {% if user.comments is defined and user.comments|length > 0 %}
                            {% for comment in user.comments %}
                                <div id="{{ comment.commentID }}" class="container">
                                    <div class="title">
                                        Comment in <a href="{{ path('seeStory', {'id': comment.story.storyID}) }}">{{ comment.story.storyTitle }}</a>
                                    </div>
                                    {% if comment.commentText|length > 100 %}
                                        <div class="content">{{ comment.commentText|slice(0, 100)|raw }}...</div>
                                    {% else %}
                                        <div class="content">{{ comment.commentText|raw }}</div>
                                    {% endif %}
                                    <div class="dateTime">{{ comment.datetime|date('d-M-Y H:i:s') }}</div>
                                    <form action="{{ path('ownProfile', {'deletecomment': comment.commentID}) }}" method="POST">
                                        <input type="hidden" name="deleteid" value="{{ comment.commentID }}"/>
                                        <button class="btn btn-danger btn-profile" type="submit" onclick="return confirm('Are you sure you want to delete this comment?')">Delete</button>
                                    </form>
                                </div>
                                <hr>
                            {% endfor %}
                        {% else %}
                            <div class="empty">You have not posted any comments yet.</div>
                        {% endif %}
                    </div>
                </div>

                <!-- your liked stories -->
                <div class="tab-pane fade" id="list-liked" role="tabpanel" aria-labelledby="list-liked-list">
                    <div>
                        <h2>Stories you liked</h2>
                        {% if user.favStories|length > 0 %}
                            {% for story in user.favStories %}
                                <div class="card m-3 card-profile">
                                    <div class="card-header">
                                        <h3><a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a></h3>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Author(s):
                                            {% if story.user.userId == 161 %}
                                                DELETED
                                            {% else %}
                                                <a href="{{ path('otherProfile', {'id': story.user.userId}) }}"> {{ story.user.username }}</a>
                                            {% endif %}
                                            {% if story.collabUsers|length > 0 %}
                                                {% for collaborator in story.collabUsers %}
                                                    , <a href="{{ path('otherProfile', {'id': collaborator.userId}) }}"> {{ collaborator.username }}</a>
                                                {% endfor %}
                                            {% endif %}
                                        </h5>
                                        <p class="card-text">
                                            <div class='content'>{{ story.storyText|slice(0, 100)|raw }}...</div>
                                            <div class='dateTime'>{{ story.datetime|date('Y-m-d H:i:s') }}</div>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card">
                                <h4 class="m-2">No stories liked yet!</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/jquery-3.7.1.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script>
        function confirmDelete(id)
        {
            let confirmation = "Are you sure you want to delete the story?";
            if(confirm(confirmation))
            {
                var url = "{{ path('ownProfile', {'deleteid': 'PLACEHOLDER'}) }}";
                url = url.replace('PLACEHOLDER', id);
                window.location.replace(url);
            }
        }
        $(document).ready(function(){
            $('.list-group-item').on('click', function(e) {
                e.preventDefault();
                
                $('.list-group-item').removeClass('active');
                $(this).addClass('active');
                
                var target = $(this).attr('href');
                
                $('.tab-pane').removeClass('show active');
                $(target).addClass('show active');
            });
        });
</script>
{% endblock %}