{# templates/ownProfile.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    <script>
        function confirmDelete(id)
        {
            let confirmation = "Are you sure you want to delete the story?";
            if(confirm(confirmation) == true)
            {
                var url = "{{ path('ownProfile', {'deleteid': 'PLACEHOLDER'}) }}";
                url = url.replace('PLACEHOLDER', id);
                window.location.replace(url);
            }
        }
    </script>
    {% if deleted is defined %}
        {{ deleted }}
    {% endif %}
    <div class="primero">
        <div id='usersite'>
            <div id='pfp'>
                {% if userPfp is not null %}
                    <img src="{{ userPfp }}" alt="User Picture" style='width: 100px' id="user">
                    <a href="{{ path('changePhoto') }}"><img src="{{ asset('Images/edit.png') }}" alt="edit button" style="width: 20px" ></a>
                {% else %}
                    <img src="{{ asset('Images/user.png') }}" alt="User Picture" style='width: 100px' id="user">
                    <a href="{{ path('changePhoto') }}"><img src="{{ asset('Images/edit.png') }}" alt="edit button" style="width: 20px"></a>
                {% endif %}
            </div>
            <div id='about'>
                <p id='buser'>About {{ user.username }}:
                <a href="{{ path('editAbout') }}"> <img src="{{ asset('Images/edit.png') }}" alt="edit button" style="width: 20px"></a></p>
                <p class='text'><pre>{{ user.about }}</pre></p>
                
            </div>
        </div>
        <div>
            <h2>{{ user.username }}'s stories:</h2>
            {% if user.stories is defined and user.stories|length > 0 %}
                {% for story in user.stories %}
                    <div id='{{ story.storyID }}' class='container'>
                        <div class='title'>
                            <a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a> - 
                            <a href="{{ path('editStory', {'id': story.storyID})}}"> Edit</a>
                            <form action="{{ path('ownProfile', {'deleteid': story.storyID })}}" method="POST">
                                <input type="hidden" name="deleteid" value="{{ story.storyID }}"/>
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this story? This action will delete all the comments related to the story')">Delete</button>
                            </form>
                        </div>
                        <div class='content'>{{ story.storyText|slice(0, 50)|raw }}...</div>
                        <div class='dateTime'> {{ story.datetime|date('Y-m-d H:i:s') }} </div>
                    </div>
                {% endfor %}
            {% else %}
                {{ user.username }} has not posted any stories yet.    
            {% endif %}
            
        </div>
        <div id="alert"></div>
    </div>
{% endblock %}