{# seeStory.html.twig #}
{% include 'header.html.twig' %}

{% block body %}
    {% if story %}
        <div id='{{ story.storyID }}' class='primero'>
            <h2>{{ story.storyTitle }} by {{ story.user.username }}</div>
            <div class='dateTime'> {{ story.datetime|date('Y-m-d H:i:s') }} </div>
            <div class='content'>{{ story.storyText|raw }}</div>
        </div>
    {% endif %}
{% endblock %}