{# templates/seeStory.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ComonStyles.css') }}">
{% endblock %}
{% block styles %}
    <style>
        p{
            overflow-wrap: break-word;
        }
        p pre{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        pre{
            padding: 5%;
            text-align: justify;
            white-space: pre-line;
            background: lightgray;
            border:1px solid black;
        }
        /*Coments*/
        .commentsWall{
            background: #a39b74;
            border: 10px inset #ede4bd;
            padding: 2%;
        }
        #commentForm{
            margin: 10px 0 10px 0;
        }
        .comment{
            border-bottom: 3px dashed #66424c;
            padding-top: 2%;
            margin-bottom: 5px;
        }
        .comment > * > pre{
            background: none;
            border:none;
        }
        .commentInfo{
            text-align: left;
            padding-left: 10px;
        }
    </style>
{% endblock %}
{% block body %}
<body>
    <div class="primero">
        {% if story %}
        <div id='{{ story.storyID }}' class='container'>
            <h2>{{ story.storyTitle }} </h2>
            <div>by <a href="{{ path('otherProfile', {'id': story.user.userId})}}"> {{ story.user.username }}</a></div>
            <div class='dateTime'> {{ story.datetime|date('Y-m-d H:i:s') }} </div>
            <p><pre>{{ story.storyText|raw }}</pre></p>
        </div>
        {% endif %}
        <div class='commentsWall'>
            <div id='commentForm'>
                <form action="{{ path('comment') }}" method='POST'>
                    <input name='storyId' value="{{ story.storyID }}" type='hidden'>
                    <input type="text" name='text' placeholder='Write a comment...'>
                    <button type='submit'>Comment</button>
                </form>
            </div>
            {% if commentError is defined %}
                {{ commentError }}
            {% endif %}
            <div id='comments'>
            {% if comments|length > 0 %}
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="commentInfo">{{ comment.user.username }} commented on  {{ comment.datetime|date('d-M-Y H:i:s') }}
                            <div><pre>{{ comment.commentText }}</pre></div> 
                        </div>
                    {% endfor %}    
            {% else %}
                This story doesn't have comments yet
            {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}