{# templates/stories.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ComonStyles.css') }}">
{% endblock %}
{% block body %}
    <div class="primero">
    {% if genre is defined %}
        <h1>{{ genre.name }}</h1>
        {% if stories is not empty %}
            {% for story in stories %}
                <div id='{{ story.storyID }}' class='container'>
                    <div class='title'>
                        <a href="{{ path('seeStory', {'id': story.storyID}) }}"> {{ story.storyTitle }} </a>
                        by <a href="{{ path('otherProfile', {'userId': story.user.userId})}}"> {{ story.user.username }}</a>
                    </div>
                    <div class='content'>{{ story.storyText|slice(0, 50)|raw }}...</div>
                    <div class='dateTime'> {{ story.datetime|date('Y-m-d H:i:s') }} </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>There are no stories for this genre!</h1>
            <form action="{{ path('write') }}" method='POST'><button>Start writing!</button></form>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}