{# templates/userSearch.html.twig #}
{% include 'header.html.twig'  with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
{% if error is defined %}
    {{ error }}
{% endif %}
    <div class='primero'>
        {% if users and users|length > 0%}
            {% for user in users %}
                {% if user.userId != 161 %}
                    <div class="userBox" id="{{ user.userId }}">
                        <img>
                        <div>
                            <div class="username">
                                <a href="{{ path('otherProfile', {'id': user.userId})}}">{{ user.username }}</a>
                            </div>
                            <div class="about">
                                {{  user.about }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h1>No users found with that term</h1>
        {% endif %}
    </div>
{% endblock %}