{# templates/write.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ComonStyles.css') }}">
{% endblock %}
<style>
    #main
    {
        margin: 2em;
        padding: 2em;
    }
    form
    {
        margin: auto;
    }
    #story
    {
        width: 700px;
        height: 300px;
        margin-bottom: 2em;
    }
    #contentCollaborators{
        height: 5em;
        overflow-y: scroll;
    }
    .sectionTitle{
        font-weight: bold;
    }
</style>
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    <h1>Start writing</h1>
    <div class="card" id="main">
        {% if success is not null %}
            <div style="color:green">{{ success }}</div>
        {% endif %}
        {% if error is not null %}
            <div style="color:red">{{ error }}</div>
        {% endif %}
        <form action="{{ path('write') }}" method='POST' class="writeStory">
            <div class="content">
                <p><label for="title" class="sectionTitle">Title: </label>
                <input type="text" id="title" name="title" class="input form-control" placeholder="Title of your story..."></input>
            </div>
            <div class="content col">
                <p><label for="genre" class="sectionTitle">Genre: </label>
                <select id="genre" name="genre" class="form-select">
                    {% if genres %}
                        {% for genre in genres %}
                            <option value='{{ genre.genreID }}' name='genre'>{{  genre.name|capitalize }}</option>
                        {% endfor %}
                    {% else %}
                        no genres found
                    {% endif %}
                </select>
            </div>
            <div class="content">
                <label for="public" class="sectionTitle">Visibility: </label>
                <div>
                    <input type="radio" id="public" name="public" value="0" checked>
                    <label for="public">Private</label>
                </div>
                <div>
                    <input type="radio" id="public" name="public" value="1">
                    <label for="public">Public</label>
                </div>
            </div>
            <div class="content">
                <p><label for="story" class="sectionTitle">Story:</label></p>
                <textarea id="story" name="story" class="form-control" placeholder="Write your story here..."></textarea>
            </div>
                <p class="sectionTitle">Collaborators:</p>
            <div class="content" id="contentCollaborators">
                {% for user in users %}
                    {% if user.userId != 161 %}
                        <input type="checkbox" id="collaborator_{{ user.userId }}" name="collaborators[]" value="{{ user.userId }}">
                        <label for="collaborator_{{ user.userId }}">{{ user.username }}</label><br>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="button btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}