{# templates/write.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    {% if response is defined %}
        <div>{{ response }}</div>
    {% endif %}

    <form action="{{ path('write') }}" method='POST' class="writeStory">
        <div class="content">
            <p><label for="title">Title: </label></p>
            <input type="text" id="title" name="title" class="input"></input>
        </div>
        <div class="content">
            <p><label for="genre">Genre: </label></p>
            <select id="genre" name="genre">
                {% if genres %}
                    {% for genre in genres %}
                        <option value='{{ genre.genreID }}' name='genre'>{{ genre.name }}</option>
                    {% endfor %}
                {% else %}
                    no genres found
                {% endif %}
            </select>
        </div>
        <div class="content">
            <div>
                <input type="radio" id="public" name="public" value="0" checked>
                <label for="public">Private</label>
            </div>
            <div>
                <input type="radio" id="public" name="public" value="1">
                <label for="public">Public</label>
            </div>
        </div>
        <div class="content">
            <p><label for="story">Story:</label></p>
            <textarea id="story" name="story"></textarea>
        </div>
        <div class="content">
            <p>Collaborators: </p>
            {% for user in users %}
                <input type="checkbox" id="collaborator_{{ user.userId }}" name="collaborators[]" value="{{ user.userId }}">
                <label for="collaborator_{{ user.userId }}">{{ user.username }}</label><br>
            {% endfor %}
        </div>
        <button class="button">Submit</button>
    </form>
{% endblock %}
