{# templates/write.html.twig #}
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

     <form action="{{ path('write') }}" method='POST' class="writeStory">
        <div class="content">
            <p><label for="title">Title: </label></p>
            <input type="text" id="title" name="title" class="input"></input>
        </div>
        <div class="content">
            <p><label for="genre">Genre: </label></p>
            <select id="genre" name="genre">
            {% if genres %}
                {% for genre in genres %}
                    <option value='{{ genre.ID }}' name='genre'>{{ genre.name }}</option>
                    <a href="{{ path('show_genre', {'genreID':genre.ID}) }}">{{ genre.name }}</a>
                {% endfor %}
            {% else %}
                no genres found
            {% endif %}
            </select>
        </div>
        <div class="content">
            <div>
                <input type="radio" id="private" name="public" value="0" checked>
                <label for="private">Private</label>
            </div>
            <div>
                <input type="radio" id="public" name="public" value="1">
                <label for="private">Public</label>
            </div>
        </div>
        <div class="content">
            <p><label for="story">Story:</label></p>
            <textarea id="story" name="story"></textarea>
        </div>
        <button class="button">Submit</button>
    </form>
{% endblock %}