{# templates/write.html.twig #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ComonStyles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
<style>
    #main {
        margin: 2em;
        padding: 2em;
    }
    form {
        margin: auto;
    }
    #story {
        width: 700px;
        height: 300px;
        margin-bottom: 2em;
    }
    #contentCollaborators{
        height: 5em;
        overflow-y: scroll;
    }
    .sectionTitle{
        font-weight: bold;
    }
</style>
{% include 'header.html.twig' with {'genres':genres, 'userPfp': userPfp} %}
{% block body %}
    <h1>Start writing</h1>
    <div class="card" id="main">
        {% if response is defined %}
            <div>{{ response }}</div>
        {% endif %}
        <form action="{{ path('write') }}" method='POST' class="writeStory">
            <div class="content">
                <p><label for="title">Title: </label>
                    <input type="text" id="title" name="title" class="input form-control" placeholder="Title of your story..."></input>
            </div>
            <div class="content col">
                <p><label for="genre">Genre: </label>
                    <select id="genre" name="genre" class="form-select">
                        {% if genres %}
                            {% for genre in genres %}
                                <option value='{{ genre.genreID }}' name='genre'>{{  genre.name|capitalize }}</option>
                            {% endfor %}
                        {% else %}
                            no genres found
                        {% endif %}
                    </select>
            </div>
            <div class="content">
                <label for="public">Visibility: </label>
                <div>
                    <input type="radio" id="public" name="public" value="0" checked>
                    <label for="public">Private</label>
                </div>
                <div>
                    <input type="radio" id="public" name="public" value="1">
                    <label for="public">Public</label>
                </div>
            </div>
            <div class="content">
                <p><label for="story">Story:</label></p>
                <textarea id="story" name="story" class="form-control" placeholder="Write your story here..."></textarea>
            </div>
            <div class="content">
                <p><label for="collaborators">Collaborators: </label></p>
                <select id="collaborators" name="collaborators[]" class="form-select" multiple>
                    {% for user in users %}
                        <option value="{{ user.userId }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="button btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#collaborators').select2({
                allowClear: true
            });
        });
    </script>
{% endblock %}


